<div class="row">
    <div class="col-md-3">
        <button class="btn btn-primary">Add a new spell</button>
    </div>
    <div class="col-md-3">
        <button class="btn">Edit an existing spell</button>
    </div>
    <div class="col_md-6">
        <select class="input-form" type="text" data-ng-if="vm.editExistingSpellMode">
    </div>
    </select>
</div>
<form>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon">Rubric: </span>
                <input type="text" class="form-control" placeholder="Add a rubric">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Difficulty: </span>
                <input type="text" class="form-control" placeholder="Add a difficulty rating">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Mana: </span>
                <input type="text" class="form-control" placeholder="Add its mana cost">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Name: </span>
                <input type="text" class="form-control" placeholder="Name your spell">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">School: </span>
                <input type="text" class="form-control" placeholder="Select a Magic School">
            </div>
        </div>
    </div>
</form>